// Reset Element Css
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
    border: none;
    outline: 0;
    font-size: 100%;
    font-family: 'Work Sans', sans-serif;
    vertical-align: baseline;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    color: #444;
    letter-spacing: 1px;
}
ul, ol{
    list-style: none;
}

a:hover, a:focus, a:active, button{
    outline: none;
    text-decoration: none
}
body,html{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    height: 100%;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}
.mt-100{
    margin-top: 100px
}
p{
    color: #a2a1a1;
}
// common
.full-width{
    float: left;
    width: 100%
}
.main-content {
    padding: 0 0 95px 95px;
    float: left;
    width: 95%;
}
@media screen and (max-width: 900px) {
    .main-content{
        padding: 15px;
        width: 100%
    }
}
.btn.btn-primary {
    background-color: #f9ca47;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    &:focus{
        outline: none;
        box-shadow: none;
        background-color: #e4af1c;
        border: none;
    }
}
// yellow bg
.scroller {
    background: #FAC921;
}
.scroll-nav a.act-scrlink{
    color:#FAC921;
}

// menu hide show
.desktop-menu{
    display: block;
}
.mobile-menu{
    display: none
}
@media screen and (max-width: 900px) {
    .desktop-menu{
        display: none;
    }
    .mobile-menu{
        display: block
    }
}
// title faint
.section-subtitle {
    text-transform: capitalize;
    color: #4d4d4d;
    // opacity: 0.15;
    text-align: left;
    font-size: 60px;
    line-height: 140px;
    margin-bottom: 50px;
    // font-family: 'Playball', cursive;
    text-align: center;
    span{
        color: #FAC921;
        font-weight: 600;
    }
    &::first-letter{
        color: #faca47;
    }
}
.pr-title{
    padding: 0 0 0 30px;
    color: #999;
    &::before{
        content: '';
        position: absolute;
        top: -10px;
        left: 20px;
        bottom: -10px;
        width: 4px;
        background: #FAC921;
    }
    h3 {
        float: left;
        font-size: 24px;
        text-align: left;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        position: relative;
        
    }
    .name-t {
        font-size: 32px;
        line-height: 80px;
        text-transform: uppercase;
        font-weight: 300;
        text-align: left;
    }
    .expart-n {
        padding-top: 20px;
        font-weight: 300;
        font-size: 22px;
        line-height: 34px;
        padding-left: 2px;
    }
    
}
.pr-title-none::before{
    display: none
}
.text-adjust p {
    padding: 20px 0 50px 33px;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}

// dot list item

.ex-content {
    position: relative;
    &::before {
        background: #bb911f;
        content: '';
        position: absolute;
        top: 22px;
        width: 2px;
        height: calc(100% + 49px);
        left: calc(-25px + 6px);
    }
    
    &::after {
        content: '';
        position: absolute;
        top: 7px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #faca47;
        border: 2px solid #bb911f;
        left: -25px;
    }
    .title {
        // font: 500 16px "Poppins", sans-serif;
        // color: #999;
        text-transform: uppercase;
        transition: all 0.4s linear;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        &::before{
            content: '';
            position: absolute;
            top: 24px;
                left: 15px;
                width: 30px;
            height: 2px;
            background: #FAC921;
        }
    }
    h5 {
        padding-top: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-style: italic;
        font-size: 15px;
        color: #777777;
    }
    p{
        font-size: 14px
    }
}
.home-text{
    p{
        padding: 10px 0 0 0;
        // font-size: 14px;
        font-weight: 100;
        line-height: 25px;
        color: #978585;
    }
    ul{
        padding: 0 0 0 55px;
        list-style-type: disc;
        li{
            font-size: 14px;
            font-weight: 100;
            line-height: 25px;
            color: #a2a1a1;
        }
    }
    
}
.progress-bar{
    background-color: #4d4d4d !important
}

// Typing animation


@media screen and (max-width: 900px) {
    .section-subtitle {
        font-size: 90px;
        margin-bottom: 0;
        line-height: 90px
    }
    .text-adjust p{
        padding: 20px 0 50px 5px;
    }
    .mobile-alignment{
        padding-top: 100px;
    }
    .pr-title{
        padding: 0;
    }
}
@media screen and (max-width: 535px) {
    .section-subtitle {
        font-size: 60px;
        line-height: 60px
    }
    .text-adjust p{
        padding: 20px 0 50px 5px;
    }
}


// title
.css-typing{
    margin-top: 70px;
    p{
      font-size: 40px;
      font-weight: bold;
      line-height: 15px;
      margin-bottom: 60px;
      color: #2c2e33;
    }
    span{
        font-size: 40px;
    }
    .output {
      text-align:center;
      h1 {
        font-size:25px;
      }
      p{
        font-size: 20px;
        margin-top: 10px;
        color: #999999;
        font-weight: normal;
      }
    }
  .title {
    font-size: 38px;
    position: relative;
    .feature{
        font-size: 13px;
        position: absolute;
        top: -5px;
        left: -20px;
        padding-left: 7px;
        &::after {
            top: 0;
            left: 0;
            position: absolute;
            content: "";
            z-index: -1;
            transform: skew(-20deg);
            -webkit-transform: skew(-20deg);
            background: #FFC815;
            width: 60px;
            height: 55px;
            border-radius: 100%;
            opacity: 0.3;
        
        }
    }
}
  }

.breadcrum {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 25px;
    font-size: 12px !important;
    font-weight: 200;
    span{
        font-size: 12px !important;
        color: #a2a1a1;
        &.current{
            color: #444444;
        }
        &:hover{
            text-decoration: underline;
            color: #FAC921;
            cursor: pointer;
            &.current{
                color: #444444;
                text-decoration: none;
                cursor: default
            }
        }
    }
}
.shape-wrapper{
    position: relative;
    &::before, &::after{
        content: '';
        position: fixed;
        top: -60px;
        left: 9px;
        width: 250px;
        height: 250px;
        background-image: url('../images/shape/shape-1.svg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &::after{
        background-image: url('../images/shape/shape-2.svg');
        left: unset;
        top: unset;
        right: -20px;
        bottom: -10px;
    }
}

// allinone-home
.allinone-home{
    .content-wrapper{
      box-shadow: 0 0 10px #999;
      border-radius: 10px;
      img{
        border-radius: 10px;
        height: 200px;
      }
      .links-wrapper{
        .links-item{
          a{
            text-decoration: none;
            color: #212529;
            margin: 3px 0;
            float: left;
            width: 100%;
            font-size: 16px;
            &:hover, &:focus, &:active:focus{
              text-decoration: underline;
              color: #FAC921;
            }
            &.disabled{
                color: #ccc;
                &:hover, &:focus, &:active:focus{
                    text-decoration: none;
                    color: #ccc;
                }
            }
          }
        }
      }
    }
  }